body{
    background-color:#FB0202 ;
}
header{
    border: gray dashed 5px;
    color: #2159C8;
    background-color: greenyellow;
    font-size: 75px;
    font-style: italic;
    font-family:cursive;
    width: 490px;
}

.Deals{
    text-align: center;
    color: #E18E12;
    font-size: 25px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    font-weight: 500;
}

.Sale{
    text-align: right;
    font-size: 50px;
}
.Link{
    text-align: right;
    font-size: 20px;
}
#triangle-up{
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid #DE18EC;
}
.menu{
    text-align: left;
    border: transparent;
    background-color: white;
    font-size: 20px;
    width: 100px;
    height: 500px;
}
.not{
    border: black solid 1px;
    background-color: white;
    font-size: 50px;
    width: 200px;
    height: 200px;
    text-align: center;
}

.rusty{
}

.Customers, .Joe, .Mary{
    text-align: center;
    object-position: center;
    border: transparent;
    color: white;
    background-color: black;
    font-size: 25px;
    height: 30px;
}
.Mary{
    text-align: right;
}
