body{
    background-color:#FB0202 ;
}
header{
    border: gray dashed 5px;
    color: #2159C8;
    background-color: greenyellow;
    font-size: 75px;
    font-style: italic;
    font-family:cursive;
    width: 490px;
}

.Deals{
    position: absolute;
    align-items: center;
    width: 15vw;
    text-align: center;
    color: #E18E12;
    font-size: 35px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    font-weight: 500;
    left: 650px;
    top: 10px;
}

.Sale{
    position: absolute;
    font-size: 100px;
    right: 20px;
    top: 10px;
}
.Link{
    position: absolute;
    font-size: 40px;
    right: 55px;
    top: 125px;
}
#triangle-up{
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid #DE18EC;
}
.menu{
    margin-top: 5vh;
    text-align: left;
    border: transparent;
    background-color: white;
    font-size: 20px;
    width: 100px;
    height: 500px;
}
.not{
    position: absolute;
    border: black solid 3px;
    background-color: white;
    font-size: 50px;
    width: 200px;
    height: 200px;
    text-align: center;
    margin: 5vw;
    margin-left: 15vw;
    top: 250px;

}

.rusty img{
    position: absolute;
    border: black solid 3px;
    margin: 5vw;
    margin-left: 37vw;
    margin-top: 1vh;
    top: 300px;

}

.four img{
    position: absolute;
    border: black solid 3px;
    width: 300px;
    height: 168px;
    margin: 5vw;
    margin-left: 70vw;
    top: 300px;
}

.Customers, .Joe, .Mary{
    position: absolute;
    border: transparent;
   
    color: white;
    background-color: black;
    font-size: 25px;
    height: 30px;

}
.Joe{
    margin-top: 9vh;
    width: 500px;
}

.Customers{
    margin-top: 5vh;
    width: 892px;
    height: 50px;
}

.Mary{
    margin-top: 9vh;
    left: 500px;
    width: 400px;
}

@media(max-width: 1000px){
    

}
